<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- Optional JavaScript -->
    <div class="container">
      <h1 class="text-center">Quản lý sinh viên</h1>
      <div class="form-group">
        <p>Mã sinh viên</p>
        <input class="form-control" type="text" name="" id="maSV" />
        <p id="err__maSV--ktRong" class="text-danger"></p>
        <p id="err__maSV--allNumber" class="text-danger"></p>
        <p id="err__maSV--maxMinLength" class="text-danger"></p>
      </div>

      <div class="form-group">
        <p>Tên sinh viên</p>
        <input class="form-control" type="text" name="" id="tenSV" />
        <p id="err__tenSV--ktRong" class="text-danger"></p>
        <p id="err__tenSV--allLetters" class="text-danger"></p>
      </div>

      <div class="form-group">
        <p>Email</p>
        <input class="form-control" type="email"" name="" id="email"" />
        <p id="err__email--ktRong" class="text-danger"></p>
        <p id="err__email--format" class="text-danger"></p>
      </div>

      <div class="form-group">
        <p>Loại sinh viên</p>
        <select class="form-control" name="" id="loaiSV">
          <option value="Khó khăn">Khó khăn</option>
          <option value="Bình thường">Bình thường</option>
        </select>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-4">
            <p>Điểm toán</p>
            <input class="form-control" type="text" name="" id="diemToan" />
            <p id="err__toan--ktRong" class="text-danger"></p>
            <p id="err__toan--allNumber" class="text-danger"></p>
            <p id="err__toan--maxMinValue" class="text-danger"></p>
          </div>
          <div class="col-4">
            <p>Điểm lý</p>
            <input class="form-control" type="text" name="" id="diemLy" />
            <p id="err__ly--ktRong" class="text-danger"></p>
            <p id="err__ly--allNumber" class="text-danger"></p>
            <p id="err__ly--maxMinValue" class="text-danger"></p>
          </div>
          <div class="col-4">
            <p>Điểm hóa</p>
            <input class="form-control" type="text" name="" id="diemHoa" />
            <p id="err__hoa--ktRong" class="text-danger"></p>
            <p id="err__hoa--allNumber" class="text-danger"></p>
            <p id="err__hoa--maxMinValue" class="text-danger"></p>
          </div>
        </div>
      </div>

      <div class="form-group">
        <p>Điểm rèn luyện</p>
        <input class="form-control" type="text" name="" id="renLuyen"" />
        <p id="err__renLuyen--ktRong" class="text-danger"></p>
        <p id="err__renLuyen--allNumber" class="text-danger"></p>
        <p id="err__renLuyen--maxMinValue" class="text-danger"></p>
      </div>

      <div class="form-group text-center">
        <button class="btn btn-success" id="add">Add</button>

        <button class="btn btn-primary" id="edit">Chỉnh sửa</button>
      </div>
    </div>

    <div class="tableSV container mt-5">
      <table class="table">
        <thead>
          <tr>
            <th>Mã sinh viên</th>
            <th>Tên sinh viên</th>
            <th>Email</th>
            <th>Loại sinh viên</th>
            <th>Điểm trung bình</th>
            <th>Điểm rèn luyện</th>
          </tr>
        </thead>

        <tbody id="tbSV"></tbody>
      </table>
    </div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <!-- js models sinh vien -->
    <script src="../models/SinhVien.js"></script>
    <script src="../models/Validation.js"></script>

    <!-- Service giao tiep BE -->
    <script src="../services/SinhVienService.js"></script>

    <!-- JS controllers sinh vien -->
    <!-- <script src="../controllers/main.js"></script> -->

    <!-- lib axios -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"
      integrity="sha512-quHCp3WbBNkwLfYUMd+KwBAgpVukJu5MncuQaWXgCrfgcxCJAq/fo+oqrRKOj+UKEmyMCG3tb8RB63W+EmrOBg=="
      crossorigin="anonymous"
    ></script>

    <script src="../controllers/mainAJAX.js"></script>

    <!-- vi du ve call back function -->
    <!-- <script src="../controllers/exampleCallBack.js"></script> -->
  </body>
</html>
